# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
*.xml # includes nosetests.xml, coverage.xml

# IDE / editor specific
# Adjust based on what you use
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Virtual environment
.venv/